<!doctype html>
<html lang="en">

<head>
  {{> views/partials/head }}
  <title>Un-Abandon</title>
</head>

<body>
  {{> views/partials/navbar }}
  <h1 class="header">Un-Abandon</h1>
  <h3 class="">the orphanage for software projects</h3>
  {{> views/partials/loadjs }}
</body>

</html>