<script type="module">
    import { createApp } from 'https://unpkg.com/petite-vue?module'

    createApp({
        $delimiters: ['[[', ']]'],
        // exposed to all expressions
        repos: {{ .Repos }}, // don't mind errors, they are from the template engine
    }).mount()
</script>

<link href="assets/github-widget/github-widget.css" rel="stylesheet" type="text/css" />
<div class="github-widget" data-user={{ .Username }}></div>

<script src="assets/github-widget/github-widget.min.js"></script>