<!--
Here we show the simplest possible component which accepts a prop and renders it.
Learn more about components in the guide!
-->

<script type="module">
    import { createApp } from 'https://cdnjs.cloudflare.com/ajax/libs/vue/3.0.0-beta.14/vue.esm-browser.js';
    import GithubRepo from './GithubRepo.js'
    import Alerts from './Alerts.js'

    createApp({
        components: {
            GithubRepo,
            Alerts
        },
        // define function to abandon repo
        methods: {
            abandonRepo(repo) {
                // remove repo from list
                this.repos = this.repos.filter(r => r.id !== repo.id)
                // send request to abandon repo
                var url = repo.html_url
                fetch("/dashboard/abandon/", {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        "url": url
                    })
                }).then(response => {
                    if (response.ok) {
                        this.$refs.alerts.addAlert("success", "Successfully abandoned repo " + url)
                    } else {
                        this.$refs.alerts.addAlert("danger", "Failed to abandon repo " + url)
                    }
                });
            }

        },
        data() {
        return {
            repos: {{ .Repos }}
            }
        }
    }).mount('#app')
</script>

<div id="app">
    <alerts ref="alerts"></alerts>
    <div class="card-columns">
        <github-repo 
        v-for="repo in repos" 
        :repo="repo" 
        buttontext="Abandon"
        @button-clicked="abandonRepo(repo)">
    </github-repo>
    </div>
</div>

<style>
    .card-columns {
        column-count: 3;
    }
</style>