<script type="module">
    import { createApp } from 'https://unpkg.com/petite-vue?module'

    createApp({
        $delimiters: ['[[', ']]'],
        // exposed to all expressions
        repos: {{ .Repos }}, // don't mind errors, they are from the template engine
    }).mount()
</script>

<link href="/assets/github-widget/github-widget.css" rel="stylesheet" type="text/css" />
<div class="github-widget" data-user={{ .Username }}></div>

<script src="assets/github-widget/github-widget.min.js"></script>

<script>
    // for each generated repo, create a new button to abandon it
    // the generated repos have the classname: gw-repo-outer
    // the button should be a <button> element that is created by the script

    // the abandon button is a child of the gw-repo-outer div
    // so we can use the parent selector to find the gw-repo-outer div
    // and then use the child selector to find the gw-repo-abandon button

    function abandonRepo(repo) {
        // the repo parameter is the gw-repo-outer div
        // get the url of the repo from the element with the class gw-name that is a child of the gw-repo-outer div
        // use the url to call the abandon endpoint
        // here is the implementation
        url = repo.querySelector(".gw-name").href;
        alert(url);
        fetch("/dashboard/abandon", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                "url": url
            })
        }).then(response => {
            if (response.ok) {
                alert("Repo abandoned");
            } else {
                alert("Repo not abandoned");
            }
        });
    }

    function addAbandonButtons() {
        repos = document.getElementsByClassName("gw-repo-outer");
        // alert(repos.length);
        for (let i = 0; i < repos.length; i++) {
            let button = document.createElement("button");
            button.className = "gw-repo-abandon";
            button.innerText = "Abandon";
            button.onclick = function(evt) {
                abandonRepo(evt.target.parentElement);
            }
            repos[i].appendChild(button)
        }
    }

    // run this function when the page loads with event listener
    window.addEventListener("load", addAbandonButtons)
    

</script>